# Python_variable_datatypes_print

## Arithmatic_Operation

In [45]:
print(3+2) #addition

5

In [46]:
print(3-2) #subtraction

1

In [47]:
print(3*2) #multiplication

6

In [48]:
print(3/2) #division

1.5

In [49]:
print(3**2) # power

9

In [50]:
print(3%2) #modulus

1

In [51]:
print(3//2) #floor division

1

In [52]:
a=3
b=2

In [53]:
# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

In [58]:
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

a + b =  7
a - b =  1
a * b =  12
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [60]:
#Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

Area of a circle: 314.0

In [61]:
# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

In [62]:
# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

735.75 N

In [64]:
# Boolean comparison
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [63]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

True
True
False
True
True
False
True
False
True
True
False
True
True
False

In [65]:
# Another way comparison 
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False -there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\HP\AppData\Local\Temp\ipykernel_19328\1930568561.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
C:\Users\HP\AppData\Local\Temp\ipykernel_19328\1930568561.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
C:\Users\HP\AppData\Local\Temp\ipykernel_19328\1930568561.py:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [66]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True
True
False
False
False
True
True
False

## Floating_numbers

In [39]:
print('complex number: ',1+1j)
print('multiplying complex number: ',(1+1j) * (1-1j))

complex number:  (1+1j)
multiplying complex number:  (2+0j)

## Data_Types

In [26]:
print(type(10))

<class 'int'>

In [27]:
print(type(3.14))

<class 'float'>

In [28]:
print(type(1+3j))

<class 'complex'>

In [29]:
print(type('RakeshPawade'))

<class 'str'>

In [30]:
print(type([1,2,3]))

<class 'list'>

In [32]:
print(type({'name':'Rakesh'})) # key:value

<class 'dict'>

In [33]:
print(type({9.8,3.14,2.7}))

<class 'set'>

In [36]:
print(type((9.8,3.14,2.7)))

<class 'tuple'>

In [37]:
print(type(3==3))

<class 'bool'>

In [38]:
print(type(3>=3))

<class 'bool'>

## Complex_Datatypes

z = real + imaginary * 1j

In [7]:
z = 3+4j
print(z.real)
print(z.imag)
print(abs(z))
print(z.conjugate())

3.0
4.0
5.0
(3-4j)

In [5]:
a = 3+4j
b = 1+2j

print(a+b)
print(a-b)
print(a*b)
print(a/b)

(4+6j)
(2+2j)
(-5+10j)
(2.2-0.4j)

In [9]:
import cmath
x =1+1j
print(cmath.phase(x)) #radians
print(cmath.polar(x)) #magnitude,angle
print(cmath.sqrt(x)) #squareroot

0.7853981633974483
(1.4142135623730951, 0.7853981633974483)
(1.09868411346781+0.45508986056222733j)

## Python_Variable

# syntax
variable_name = value

In [3]:
age = 25
print(age)

25

In [4]:
name = 'Alice'
print(name)

Alice

In [5]:
price =19.99
print(price)

19.99

In [6]:
is_active = True
print(is_active)

True

In [7]:
x = 10
print(x)

10

In [8]:
a=5
b=3
result = a + b
print(result)

8

In [9]:
score = 50
print(score)

50

In [10]:
score = 100
print(score)

100

In [14]:
first_name = "John"
last_name = "Doe"

full_name = first_name +" "+last_name
print(full_name)

John Doe

In [15]:
length = 10
width = 5

area = length + width
print(area)

15

In [16]:
x= 10
print(x)

10

In [17]:
x = 20
print(x)

20

In [71]:
# Variables in Python

first_name = 'Rakesh'
last_name = 'Pawade'
country = 'HYD'
city = 'TELENGANA'
age = 40087
is_married = True
skills = ['Python', 'ML', 'DL', 'Excel', 'PowerBi']
person_info = {
    'firstname':'Rakesh', 
    'lastname':'Pawade', 
    'country':'India',
    'city':'Nagpur'
    }

In [72]:
# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Rakesh
First name length: 6
Last name:  Pawade
Last name length:  6
Country:  HYD
City:  TELENGANA
Age:  40087
Married:  True
Skills:  ['Python', 'ML', 'DL', 'Excel', 'PowerBi']
Person information:  {'firstname': 'Rakesh', 'lastname': 'Pawade', 'country': 'India', 'city': 'Nagpur'}

In [74]:
# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'Rakesh', 'Pawade', 'India', 35, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Rakesh Pawade India 35 True
First name: Rakesh
Last name:  Pawade
Country:  India
Age:  35
Married:  True

## Print_Statement

In [10]:
a = 10
b = 20
a
b

20

In [12]:
a = 10
b = 20
print(a)
print(b)

10
20

In [13]:
print(10)
print(10,20)
print('Python')
print(10,20,'Python')

10
10 20
Python
10 20 Python

In [14]:
num1=20
num2=30
add=num1+num2
print(add)

50

## Print Result with string

In [15]:
num1=20
num2=30
add=num1+num2
print('The addition of {} and {} is = {}'.format(num1,num2,add))

The addition of 20 and 30 is = 50

* first deside how the print statement should be   
* like:- The addition of 20 and 30 is = 50    
* then replace the variable position with curly brtacesm { }   
* then appply .format(val1,val2,....val-n) method

In [16]:
name ='Python'
age=20
city='hyd'
print('hello my name is {} and i am {} year old from {}'.format(name,age,city))

hello my name is Python and i am 20 year old from hyd

In [22]:
num1=100
num2=25
num3=333

avg=(num1+num2+num3)/3
avg1=round((num1+num2+num3)/3,2)

print('The avg of {}, {}, and {} is = {} or {}'.format(num1,num2,num3,avg,avg1))

The avg of 100, 25, and 333 is = 152.66666666666666 or 152.67

In [23]:
round(avg,2)

152.67

More short format method(f string method) 
 
* variable should be in curly braces  
* and write everything inside quots ' '  
* at starting simpaly add f

In [24]:
add=num1+num2
print(f'The addition of {num1} and {num2} is = {add}')

The addition of 100 and 25 is = 125

In [25]:
name ='Python'
age=20
city='hyd'
print(f'Hello my name is {name} and i am {age} years old from {city}')

Hello my name is Python and i am 20 years old from hyd

In [26]:
num1=100
num2=25
num3=333

avg=(num1+num2+num3)/3
avg1=round((num1+num2+num3)/3,2)

print(f'The avg of {num1},{num2},{num3} is ={avg}')

The avg of 100,25,333 is =152.66666666666666

In [27]:
num1=10 
num2=20 
add = num1+ num2 
print('The addition of',num1,'and',num2,'is=',add) 
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

In [28]:
print('Hello')
print('Good morning')

Hello
Good morning

In [30]:
print('Hello',end=' ')
print('Good morning')

Hello Good morning

In [31]:
print('hello', end=' ') 
print('world good day')

hello world good day

### separator

* here one print statement only we use 
 
* insisde one print statement we have multipal values 
 
* we want to seperate these multipal values with anything

In [34]:
print('hello','hai','how are you',sep='--->') 
print('hello','hai','how are you',sep='&')
print('hello','hai','how are you',sep='@')
print('hello','hai','how are you',sep=' ')

print(3,'.')
print(3,'.',sep='')

print(1,2,end=' ')
print(3,'.',sep='')

hello--->hai--->how are you
hello&hai&how are you
hello@hai@how are you
hello hai how are you
3 .
3.
1 2 3.