# Datastruture - user will define the value more then one
  - **list**
  - **tuple**
  - **set**
  - **dict**

## 1.List

* 1) List is an ordered sequence of items
* 2) we can have different dtypes under a list.(int,float,string items in same list)

## List_Creation

In [2]:
list1 = [] # empty list

In [3]:
print(type(list1))

<class 'list'>

In [4]:
list2 = [10,20,30] #list of int nos
print(list2)

[10, 20, 30]

In [5]:
list3 = [10.33,90.66,60.89] # list of float nos
print(list3)

[10.33, 90.66, 60.89]

In [6]:
list4 = ['one','two','three'] #list of strings
print(list4)

['one', 'two', 'three']

In [7]:
list5 = ['Asif',25,[50,100],[150,90]] #nested list
print(list5)

['Asif', 25, [50, 100], [150, 90]]

In [8]:
list6 = [100,'Asif',17.765] #list of mixed data types
print(list6)

[100, 'Asif', 17.765]

In [9]:
list7 = ['Asif',25,[50,100],[150,90],{'john','David'}]
print(list7)

['Asif', 25, [50, 100], [150, 90], {'David', 'john'}]

In [10]:
len(list7) # length of list

5

## List_Indexing

![list_indexing](http://localhost:8888/files/DS_Prakash_Senapati/list_indexing.png)

In [11]:
list2

[10, 20, 30]

In [12]:
list2[0]

10

In [13]:
list4

['one', 'two', 'three']

In [14]:
list4[0]

'one'

In [15]:
list4[0][0]

'o'

In [16]:
list4[-1]

'three'

In [17]:
list5

['Asif', 25, [50, 100], [150, 90]]

In [18]:
list5[-1]

[150, 90]

## List_Slicing

In [19]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [20]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [21]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item(n-1)

['one', 'two', 'three']

In [22]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the last item(n-1)

['three', 'four', 'five']

In [23]:
mylist[:3] #return first three items

['one', 'two', 'three']

In [24]:
mylist[:2] #return first two items

['one', 'two']

In [25]:
mylist[-3:] # return last three items

['six', 'seven', 'eight']

In [26]:
mylist[-2:] #return last two items

['seven', 'eight']

In [27]:
mylist[-1] #return last item of the list

'eight'

In [28]:
mylist[:] #return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## Add,Remove & Change Items

In [29]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [30]:
mylist.append('nine') #add an item to the end of list

In [31]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [32]:
mylist.insert(9,'ten') #add item at index location 9

In [33]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [34]:
mylist.insert(1,'ONE') # add item at index location 1

In [35]:
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [36]:
mylist.remove('ONE') #remove item "ONE"

In [37]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [38]:
mylist.pop()# remove last item by default

'ten'

In [39]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [40]:
mylist.pop(8) #remove item at index location 8

'nine'

In [41]:
del mylist[7] #remove item at index location 7

In [42]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [43]:
# change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [44]:
mylist.clear()

In [45]:
mylist

[]

In [46]:
del mylist
#delete the whole list
mylist

NameError: name 'mylist' is not defined

## Copy List

In [47]:
mylist =['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [48]:
mylist1 = mylist #create a new reference "mylist1"

In [49]:
id(mylist),id(mylist1) #  the address of both mylist & mylist1 is same

(2009954366208, 2009954366208)

In [50]:
mylist2 = mylist.copy() #create a copy of the list

In [51]:
id(mylist2) #the add of mylist2 will be different from mylist bcoz

2009967743744

- **A shallow copy** means that mylist2 is a new list object with its own memory address, but it contains references to the same elements as mylist.

In [52]:
mylist[0]=1

In [53]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [54]:
mylist1 #mylist1 also impacted

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [55]:
mylist2 #copy of list not impacted due to shallow copy

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

## Join Lists

In [56]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [57]:
list3=list1+list2 #join list with '+' operator

In [58]:
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [59]:
list1.extend(list2) #append list2 with list1

In [60]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## List membership

In [61]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [62]:
'one'in list1 # check if 'one' exist in list

True

In [63]:
'ten' in list1 #check if 'ten' exist in list

False

In [64]:
if 'three' in list1:                 #check if 'three' exist in the list
    print('three is present in the list')
else:
    print('three is not present in the list')

three is present in the list

In [65]:
if 'eleven' in list1:                 #check if 'three' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

## Reverse & Sort List

In [66]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [67]:
list1.reverse() #reverse the list

In [68]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [69]:
list1 = list1[::-1] #reverse the list by slicing

In [70]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [71]:
mylist3 = [9,5,2,99,12,88,34] # sort list in ascending
mylist3.sort()

In [72]:
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [73]:
mylist3 = [9,5,2,99,12,88,34] # sort list in descending(reverse=True)
mylist3.sort(reverse=True)

In [74]:
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [75]:
mylist4 = [88,65,33,21,11,98] 
sorted(mylist4) # Returns a new sorted list and doesn't change original

[11, 21, 33, 65, 88, 98]

In [76]:
mylist4

[88, 65, 33, 21, 11, 98]

## Loop through a list

In [77]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [78]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [79]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Count

In [80]:
list10 = ['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [81]:
list10

['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [82]:
list10.count('one')

3

In [83]:
list10.count('two')

2

In [84]:
list10.count('four')

1

## All / Any
The **all()** methodreturns:
- **True**- if all element in a list are true     
- **False** - if any element in a list is false      
The **any()** fun returns True if any element in the list is True.If not,any() returns False

In [85]:
L1 = [1,2,3,4,0]

In [86]:
all(L1) #return false as one value is false(value 0)

False

In [87]:
any(L1) #return True as we have items in the list with True value

True

In [88]:
L2 = [1,2,3,4,True,False]

In [90]:
all(L2) # returns false as one value is false

False

In [91]:
any(L2) # return True as we have items in the list with True value

True

In [92]:
L3 =[1,2,3,True]

In [94]:
all(L3) #return True as all items in the list are True

True